*pyc
.DS_Store
.vedo_recorded_events.log
docs/web_page/css
docs/web_page/images
docs/web_page/js

vedo.egg-info
build

.ipynb_checkpoints
examples/notebooks/.ipynb_checkpoints
*png
*jpg
*tiff
*tif
*npz

untitled*.py
bug_*.py
prove
speed_tester.py
font_polygonizer.py
data
