*pyc
.DS_Store

.ipynb
examples/.ipynb
examples/notebooks/.ipynb
examples/basic/.ipynb
examples/volumetric/.ipynb
examples/advanced/.ipynb
examples/other/.ipynb
examples/other/dolfin/.ipynb

docs/build/
docs/source/content
docs/source/index.rst
