include vtkplotter/textures/*
include examples/*
include examples/basic/*
include examples/advanced/*
include examples/data/*
include examples/data/images/*
include examples/data/shapes/*
include bin/*
