include vedo/*
include vedo/textures/*
include vedo/fonts/*

include examples/advanced/*
include examples/basic/*
include examples/other/*
include examples/other/dolfin/*
include examples/other/trimesh/*
include examples/pyplot/*
include examples/simulations/*
include examples/volumetric/*
