
# Install this file in one of:
# ~/.local/share/applications/
# /usr/share/applications/
#
# Then select "Open With" for a supported file type and choose `vedo`.

[Desktop Entry]
Type=Application
Name=vedo
GenericName=Scientific 3D Viewer
Comment=Scientific 3D viewer for meshes, volumes, and point clouds
TryExec=vedo
Exec=vedo %F
Categories=Science;Graphics;3DGraphics;
Icon=applications-science
Terminal=false
StartupNotify=true
MimeType=application/x-wavefront-obj;model/obj;model/stl;image/tiff;image/x-tiff-multipage;
X-AppStream-Ignore=True
Keywords=vtk;mesh;volume;point-cloud;visualization;science;
