
#To be placed in /usr/share/applications/
#then right-click a file
#choose Properties
#choose Open With ... vtkplotter

[Desktop Entry]
Type=Application
Name=vtkplotter
GenericName=vtkplotter
Comment=Scientific 3D Viewer
Comment[it]=Visualizzatore di modelli 3D in vari formati
Exec=vtkplotter %F
Categories=Science;Graphics;3DGraphics;
Icon=python
Terminal=true
StartupNotify=false
MimeType=text/x-python;application/x-wavefront-obj;application/x-collada;
X-AppStream-Ignore=True
Keywords=browser;vtk;collada;

