# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details

version: 2.1

jobs:

  ##############################################################
  test-vedo:

    machine:
      image: ubuntu-2204:current

    resource_class: medium

    environment:
      MPLBACKEND: "agg"
      DEBIAN_FRONTEND: "noninteractive"

    steps:
      - checkout

      - run:
          name: installing vedo
          command: |
            sudo apt-get update
            sudo apt install libgl1-mesa-dev xvfb -y
            python3 -m pip install --upgrade pip
            python3 -m pip install vtk matplotlib scipy typing-extensions
            python3 -m pip install --no-deps .

      - run:
          name: Run test scripts
          command: |
            cd ~/project
            if [ -d tests/unit ]; then
              for f in tests/unit/test_*.py; do
                python3 "$f"
              done
            fi
            xvfb-run -a python3 tests/common/test_0_imports.py

      - store_artifacts:
          path: test-reports
          destination: test-reports



######################################################
workflows:
  version: 2
  build-stuff:
    jobs:
      - test-vedo

